.about-us {
    min-height: 100vh;
}

.programming-img {
    background-image: url(img/programming.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: aquamarine;
}